

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
font-family: 'Poppins', sans-serif;
zoom: 98%;
}

.atas{
  margin-left: 20vh !important;
  margin-right: 20vh !important;
}

.container{
  margin: 0 auto;
}

.card{
  height: 100%;
  border: 0px !important;
}

.card h5{
  padding: 15px 0 4px 0;
  font-weight: 700;
  font-weight: bold;
}

.card h6{
  float: left;
}

.pcard{
  float: left;
}

.floatkanan{
  float: right;
}

.card .btn{
  background-color: #002b55 !important;
  border-radius: 0px;
  border: 1px solid #002b55 !important;
  width: 100%;
  margin-top: 10px;
  height: 40px;
  font-size: 10pt;
}



.spaceleft{
  margin-left: 9vh;
  margin-right: -1vh !important;
  float: right;
}

.spaceright{
  margin-right: 7vh;

}

.nspacebtm{
  margin-bottom: 0px !important;
}

.card-body{
  margin-bottom: 0px !important;
}

.dropdown{
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 0px !important;
  border: 0px !important;
}

.loadMore .btn{
  background-color: #ffffff !important;
  border-radius: 0px;
  color: #000 !important;
  border: 2px solid #002b55 !important;
  width: 50%;
  margin-top: 10px;
  height: 40px;
  font-size: 10pt;
}

.cardBottom {
  color: #636363
}